#sso-provider-button {
  margin: 10px 0px;
  padding: 12px 2px;
  border-radius: 321px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 3px solid #c3c3c3;
  display: flex;
  cursor: pointer;
}

#button-icon {
  margin: 0px 15px;
}

#sso-provider-button:active {
  color: red;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.8);
}

.create-post-container {
  border-radius: 8px;
  margin: auto;
  width: 35%;
  border: 1px solid;
  border-color: #d3d3d3;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#text-field-container {
  margin: 10px 0px;
}
