.post-container {
  border-radius: 8px;
  margin: auto;
  width: 35%;
  border: 1px solid;
  border-color: #d3d3d3;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.comment-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.row-elements-flex {
  flex: 1;
  vertical-align: middle;
  padding: 10px 0px 10px 10px;
}
.row-elements {
  display: inline-block;
  padding: 0px 15px;
  vertical-align: middle;
}
.comments-container {
  width: 100%;
  padding: 0px 10px;
  text-align: left;
}
.users-liked-container {
  width: 100%;
  padding: 0px 10px 10px 10px;
  text-align: left;
}
.like-container {
  /* margin: 0px 15px;
  text-align: left;
  flex-direction: row; */
  width: "100%";
  display: flex;
}

.row-element .container {
  overflow-y: scroll;
  margin: 10px 0px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.empty-feed {
  margin: auto;
  width: 100%;
  text-align: center;
}
