#sso-provider-button {
  margin: 10px 0px;
  padding: 12px 2px;
  border-radius: 321px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 3px solid #c3c3c3;
  display: flex;
  cursor: pointer;
}

#button-icon {
  margin: 0px 15px;
}

#sso-provider-button:active {
  color: red;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.8);
}

#auth-button-container {
  padding: 15px;

  border-radius: 12px;

  border: 3px solid lightgray;
}
