.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.profile-avatars {
  height: auto;
  max-height: 150px;
  width: auto;
  max-width: 150px;
}
